/*
Project:    Project5 - Personal Web Site
Name:       Mitchel Bigler
Submitted:  8/2/24

Disclaimer:
    I declare that the following source code was written by me, or provided
    by the instructor for this project. I understand that copying source
    code from any other source, providing source code to another student, 
    or leaving my code on a public web site constitutes cheating.
    I acknowledge that  If I am found in violation of this policy this may result
    in a zero grade, a permanent record on file and possibly immediate failure of the class.
 
Changes:
    -- Added more rules to media query to fix iphone size
    -- Added log visit section
*/

:root {
    --white: #FFF9F5;
    --beige: #FFF3EA;
    --dark-beige: #FCCEB2;
    --purple: #322b73;
    --light-purple: #3D348B;
    --blue: #7678ed;
    --orange: #f35b04;
    --light-orange: #f18701;
}


/* ---MAIN SECTIONS--- */

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--purple);
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--white);
    color: var(--purple);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: -5px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: .6em;
    min-height: 10vh;
    background-color: var(--beige);
    color: var(--light-purple);
}


/* ---HEADER--- */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 500;
    padding: 8px 0px;
    gap: 5px;
}

.bars {
    padding: 14px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--purple);
}

.bars:hover {
    color: var(--blue);
}

nav ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: var(--purple);
    padding: 15px 15px;
    border-radius: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: var(--beige);
    color: var(--purple);
}

.theme-toggle {
    margin: 12px 5px;
    border-color: var(--purple);
    color: var(--purple);
    font-weight: 600;
    max-width: 20vw;
    border-radius: 10px;
}


/* ---SECTIONS--- */

#about-us, #contact, #log-in {
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;
}

section ul {
    list-style-type: square;
    padding-bottom: .5em;
}

section ul li {
    color: var(--light-purple);
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 1em;
}

section > h1 {
    font-size: 2em;
    font-weight: 600;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--light-orange);
    position: absolute;
    bottom: -10px;
}


/* ---HOME SECTION--- */

#home {
    background: url(../img/mountains.jpg) center center, rgba(61, 52, 139, .6);
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome h1 {
    color: var(--white);
    font-weight: bolder;
    font-size: 3.4em;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.6em;
}

.buttons {
    padding-top: .7em;
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.button1 {
    color: var(--white);
    border: 2px solid var(--white);
    background-color: transparent;
}

.button2 {
    color: var (--light-purple);
    border: 3px solid var(--white);
    background-color: var(--white);
}


/* ---CONTACT US SECTION--- */

.content {
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info p {
    font-size: 1.2em;
    font-weight: 400;
}

.contact-info ul li{
    font-size: 1em;
    font-weight: 500;
}

#guy-typing {
    width: 200px;
}


/* ---ABOUT US SECTION--- */

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video p {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--blue);
    max-width: 100%;
}

.player {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.stepupvid{
    width:400px;
    height: 230px;
}


/* ---LOG VISIT SECTION--- */

.container {
    border: 1px solid var(--dark-beige);
    border-radius: 6px;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 30px;
}

.container ul {
    padding: 0;
    margin: 0;
}

.container h2 {
    font-size: 1em;
}

.container ul li {
    list-style: none;
    font-size: 1em;
    font-weight: 400;
    display: block;
    margin-bottom: .25em;
}

.container ul li label,
.container ul li input,
.container ul li textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

.container ul li input,
.container ul li textarea {
    height: 2.5em;
}

.container ul li input[type="text"],input[type="phone"], textarea {
    border: 1px solid var(--dark-beige);
    border-radius: 4px;
    color: var(--purple);
    padding: 5px;
}

.container ul li input::placeholder,
.container ul li textarea::placeholder {
    color: var(--dark-beige);
    font-weight: 300;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.checkbox-item {
    margin-left: 25px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 0.5em;
}

.errorMsg {
    color: var(--orange);
    font-size: 0.8em;
}

#submitBtn {
    border-radius: 6px;
    border: 1px solid var(--light-purple);
    background-color: var(--white);
    color: var(--purple);
    font-size: 1.1em;
    font-weight: 300;
}

#submitBtn:hover {
    background-color: var(--blue);
    color: var(--purple);
}

.was-validated input:invalid, .was-validated textarea:invalid {
    border-color: var(--orange);
}

.was-validated .errorMsg {
    display: block;
}


/* ---TABLET SPECIFIC--- */

@media (min-width: 900px) {

    body{
        font-size: 1em;
    }
    
    .content {
        display: flex;
        flex-direction: row;
    }

    #home {
        font-size: 2em;
    }

    .buttons{
        gap: 50px;
    }

    section > h1 {
        font-size: 3em;
    }

    .stepupvid{
        width:60%;
        height: auto;
    }

    .guy-typing {
        width: 300px;
    }

    .video p {
        font-size: 1.6em;
    }

    section ul li {
        font-size: 1.6em;
    }

}


/* ---WIDE SCREEN SPECIFIC--- */

@media (min-width: 1300px) {
    .bars {
        display: none;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 10px 0px;
    }

    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }

    #about-us, #contact, #log-in {
        max-width: 60%;
    }
}
